<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">about</h2>
                        <h3 class="section-subheading">SmartLoan is currently still in developing process and is a prototype of research on credit creation theory.
                        It will be opperated accordance to Friendly Loan Agreement between leanders and borrowers.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mortar-board fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">DeFi Prototype</h4>
                    <p class="text-muted">SmartLoan is a Proof of Concept P2P loan DeFi prototype for the digital future which attempt to solve student debt crisis.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Best of Both Worlds</h4>
                    <p class="text-muted">SmartLoan attempt to bridge between permissionless and permissioned chains, providing a low risk, secured and collateral-free lending that benefits both borrowers and lenders.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Unique Design</h4>
                    <p class="text-muted">The design of negative interest rates calculated based on monthly repayment principal, and positive interest rates based on the debtor's net income.</p>
                </div>
            </div>
        </div>
    </section>